version: '3.8'

services:
  web:
    build: .
    command: gunicorn project.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    env_file:
      - .env
    environment:
      - DEBUG=False
      - DB_ENGINE=django.db.backends.mysql
      - DB_NAME=storycraft
      - DB_USER=storycraft_user
      - DB_PASSWORD=storycraft_pass
      - DB_HOST=db
      - DB_PORT=3306
      - DATABASE=mysql
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - db
      - redis

  db:
    image: mysql:8.1
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=storycraft
      - MYSQL_USER=storycraft_user
      - MYSQL_PASSWORD=storycraft_pass
      - MYSQL_ROOT_PASSWORD=root_pass
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "8000:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      - web

volumes:
  mysql_data:
  static_volume:
  media_volume:
