services:
  web:
    build: .
    command: gunicorn project.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    env_file:
      - .env
    environment:
      - DATABASE=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db
      - redis
    networks:
      - backend_net
      - frontend_net

  db:
    image: mysql:8.1
    command: 
      - --default-authentication-plugin=mysql_native_password
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
    networks:
      - backend_net

  redis:
    image: redis:7
    restart: always
    networks:
      - backend_net

  nginx:
    image: nginx:latest
    ports:
      - "80:80"    # 标准 HTTP 端口，用于重定向
      - "443:443"  # 标准 HTTPS 端口
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/cert:/etc/nginx/cert
      - static_volume:/app/staticfiles
      - ./media:/app/media 
    depends_on:
      - web
    networks:
      - frontend_net

volumes:
  mysql_data:
  static_volume:

networks:
  frontend_net:
  backend_net:
